Django==3.0.7
djangorestframework==3.11.0
Pillow==8.4.0

# Rest
django-cors-headers==3.2.1
djangorestframework-simplejwt==5.0.0

# Database
dj-database-url==0.5.0
mysqlclient==2.1.0
psycopg2==2.8.6


#Heroku
django-heroku==0.3.1
django-webpack-loader==0.7.0
whitenoise==5.2.0

#Virtual environment
python-dotenv==0.19.1

#Transfer protocal
requests==2.23.0

#Web
gunicorn==20.1.0